{% extends 'base.html.twig' %}

{% block title %}{{gewinnt}} Gewinnt{% endblock %}

{% block styles %}
<style>
    body {
        font-family: monospace;
        font-weight: bold;
        background-color: #222;
        color: white;
    }
    .centered {
        text-align: center;
    }
    .playfield {
        margin: 0 auto; 
    }
    .playfield td {
        padding: 15px 20px;
        border: 2px solid red;
        border-radius: 5px;
        background-color: black;
        color: white;
        font-size: 30px;
        cursor: default;
    }
    #alert {
        margin: 40px;
        font-size: 20px;
    }
    #buttonWrapper {
        display: none;
    }
    #buttonWrapper button {
        cursor: pointer;
        padding: 7px;
        font: bold 17px monospace;
        background-color: darkred;
        color: white;       
        border-radius: 5px;
        border-color: black;        
    }
</style>
{% endblock %}

{% block body %}
<div class="centered">
    <h1>{{gewinnt}} Gewinnt</h1>
    <table class="playfield">
        {% for row in 0..maxRow %}
            <tr>
                {% for col in 0..maxCol %}
                    <td data-col="{{col}}" data-row="{{row}}">
                        &nbsp;
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    
    <p id="alert"></p>
    
    <div id="buttonWrapper">
        <button type="button" id="reload">Noch mal</button>
        <a href="{{reportUrl}}">
            <button type="button">Zur Auswertung</button>
        </a>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>
var animSpeed   = 225,
    signs       = ['&nbsp;', 'X', 'O'],
    hasWinner   = false;

$('.playfield td').click(function(){
    if(!hasWinner){
        var data = $(this).data();
        
        $.ajax({
            url: '/processMove',
            method: 'post',
            dataType: 'json',
            data: data,
            success: function(response){
                if(response.row >= 0){
                    $('[data-col="' + data.col + '"][data-row="' + response.row + '"]')
                        .html(signs[response.player]);
                        
                    if(response.playerWins){
                        hasWinner = true;
                        $('#alert').html('Spieler ' + response.player + ' (' + signs[response.player] + ') gewinnt!');
                        $('#buttonWrapper').show();
                    }
                }
            },
            error: function(request, status, error){
                $('#alert').html('Es ist ein Fehler aufgetreten. Status: ' + status + ', Meldung: ' + error);
            }
        });
    }
});

// TODO https://forum.jquery.com/topic/stop-multiple-animations-on-hover-click#14737000005266320
$('.playfield td').on('mouseover mouseout', function(event){
    var bgCol       = event.type == 'mouseover' ? 'red' : 'black',
        borderCol   = event.type == 'mouseover' ? 'black' : 'red',
        column      = $(this).data('col');
    
    $('[data-col="' + column + '"]').animate({
        backgroundColor:    bgCol,
        borderColor:        borderCol
    }, animSpeed);
});

$('#reload').click(function(){
    location.reload(); 
});
</script>
{% endblock %}